body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}


ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap:1rem;
}

a {
    text-decoration: none;
}

