.container {
    background:#FFFF00;
    color:black;
}

/* BEFORE e AFTER sono pseudoelementi che creano un elemento in HTML direttamente sul CSS senza che sia scritto nel codice HTML.*/

/* Before crea un elemento subito dopo l'apertura del DIV .container */
.container::before {
    content:'Hello';
}

/* After crea un elemento subito prima della chiusura del DIV .container */
.container::after {
    content:'Goodbye';
}

/*ESEMPIO PRATICO: OVERLAY */

#hero {
    background-image: url('https://source.unsplash.com/1920x1000/?sky');
    background-size: cover;
    background-position: center center;

    height: 100vh;

    position: relative;
}

#hero::before {
    content:'';
    /*Gli pseudoelementi before e after hanno bisogno della proprietà content */
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* background:rgba(0,0,0,0.5); */

    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(0,0,0,0.8323923319327731) 89%);
}

/*per riportare il contenuto di #hero SOPRA l'overlay:*/

.cta {
    
    position: relative; 
    z-index:9;
}