* {
    /*selettore "universale" che indica TUTTI gli elementi sulla pagina*/

    box-sizing:  border-box;
    /* in questo modo il PADDING non fa più allargare l'elemento verso l'esterno */
    /*NOTA: il box-sizing di default dei browser è content-box ma non si usa quasi mai */

    /* Diamo sempre questa regola a meno che non venga già gestita dal framework (es. bootstrap)  */
}


/* creo una classe generica "container" che mi serve per stringere gli elementi sulla pagina */
.container {
    max-width: 1200px;
    margin:0 auto;
}

/* -------------------------------------------------------------------------- */
/*                                HEADER E LOGO                               */
/* -------------------------------------------------------------------------- */

.logo img {
    /*imposto le dimensioni del logo */
        height: 3rem;
        width: auto;
}

.mainHeader {
    display: flex; /*applichiamo display:flex al genitore di LOGO e MENU */

    justify-content: space-between;
    /* affianca sull'asse principale e dispone ai lati opposti*/

    align-items: center;
    /* allineo al centro sull'asse verticale */


}

.mainMenu ul {
    list-style-type:none;
    margin: 0;

    display: flex;

    gap: 1.5rem;
    /*aggiunge uno spazio vuoto tra gli elementi figli */


}


/* -------------------------------------------------------------------------- */
/*                            HERO E CALL TO ACTION                           */
/* -------------------------------------------------------------------------- */


.hero {


    background-image:url('https://source.unsplash.com/1920x1080?beach');

    /*imposto l'altezza della hero section */

    height:100vh; /*alto come tutto il viewport */

    /*posiziono il div con la call to action */

    display: flex;

    justify-content: center; /*al centro orizzontale */
    align-items: center; /*al centro verticale */

    text-align: center; /*allinea al centro il testo dentro */

    /*anche i figli di questo elemento prenderanno la regola text-align:center perché
    è una proprietà ereditaria */




}


/* -------------------------------------------------------------------------- */
/*                                   SERVIZI                                  */
/* -------------------------------------------------------------------------- */

.servBox {
    display: flex;
    align-items:center;
    column-gap: 1rem; /*spazio tra le colonne */
}



