
@import 'variables';
@import 'mixins';
@import 'footer';
//se importo dei parziali, mi basta indicare il percorso esatto. Non occorre _ e estensione.

body {

font-family: $sans-serif-font;
color:$primary;

//@include myGradient(#FF9900,#e000f8,180deg); //per richiamare un mixin si usa la direttiva @incude

}

h1 {
    font-family: $serif-font;
    padding:$defPadding*3;
    font-size: 3.5rem;
    font-weight: bold;
}

.bigText {
    @extend h1; //extend prende le regole di una selettore e le copia in un altro selettore.
}


//Nidificare i selettori 

#mainNav {
    background:#999;

    #mainMenu {
        list-style-type: none;
        display: flex;

        li {
            padding: $defPadding/4 $defPadding*2; //risultato: padding sopra e sotto di 0.25rem e sx dx di 2rem;

            a {
                display: block;
                font-weight: bold;
                color:$primary;
                text-decoration: none;

                &.social { //quando questo elemento ha anche associata la classe .social
                    color:red;
                }

                &:hover { //quando questo elemento ha associato la pseudoclasse :hover. È come scrivere a:hover
                    color:violet;
                }



            }
        }

    }
}

.clickMe {
    @include myButton(#FFCC00, #FFF); //porta dentro tutte le regole del mixin
}

.clickMeOutline {
    @include myButton(#FF9900, #000, true)
}
